In [ ]:
import pandas as pd
from procs.DictsAndLists import lista, listaTCA

In [ ]:
df = pd.read_csv(
    "B00.txt", 
    # dtype=pd.StringDtype(), 
    sep="\t", 
    names=lista[0]["dtype"].keys()
)

In [ ]:
df.info(verbose=True)

In [20]:
import pandas as pd
from procs.DictsAndLists import lista, listaTCA

df_arrow = pd.read_csv(
    "b00.txt",
    dtype=lista[0]["dtype"],
    sep="\t",
    header=0,
    index_col=0,
    names=lista[0]["dtype"].keys(),
    engine="pyarrow",
    dtype_backend="pyarrow",
)

KeyError: "Only a column name can be used for the key in a dtype mappings argument. 'id_persona ' not found in columns."

In [ ]:
df_arrow

In [15]:
df_arrow.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 968827 entries, 0 to 968826
Data columns (total 61 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   id_persona                    968827 non-null  int64[pyarrow]
 1    QID                          968827 non-null  int64[pyarrow]
 2    BASE                         968827 non-null  int64[pyarrow]
 3    CORTE                        968827 non-null  int64[pyarrow]
 4    CUIT                         968827 non-null  int64[pyarrow]
 5    TDOC                         968827 non-null  int64[pyarrow]
 6    NDOC                         968827 non-null  int64[pyarrow]
 7    SEXO                         0 non-null       null[pyarrow]
 8    DENO                         968827 non-null  string[pyarrow]
 9    FNAC                         968827 non-null  string[pyarrow]
 10   MONTO                        968827 non-null  string[pyarrow]
 11   PROV                         968827 non-null  int64[pyarrow]
 12   PERIODO                      0 non-null       null[pyarrow]
 13   PERIODO_BASE                 968827 non-null  int64[pyarrow]
 14   PERIODO_ACT                  968827 non-null  int64[pyarrow]
 15   BASE_PROV                    0 non-null       null[pyarrow]
 16   PASAPORTE                    0 non-null       null[pyarrow]
 17   TIPO_EF                      968827 non-null  string[pyarrow]
 18   NRO_FORMULARIO               968827 non-null  int64[pyarrow]
 19   APELLIDO_ORIG                968827 non-null  string[pyarrow]
 20   NOMBRE_ORIG                  968827 non-null  string[pyarrow]
 21   FNAC_ORIG                    968827 non-null  int64[pyarrow]
 22   SEXO_ORIGEN                  968827 non-null  string[pyarrow]
 23   TDOC_ORIG                    968827 non-null  int64[pyarrow]
 24   NDOC_ORIG                    968827 non-null  int64[pyarrow]
 25   PAIS_ORIGEN                  968827 non-null  string[pyarrow]
 26   CALLE                        968827 non-null  string[pyarrow]
 27   NUMERO                       968827 non-null  int64[pyarrow]
 28   PISO                         968827 non-null  string[pyarrow]
 29   DEPTO                        968827 non-null  string[pyarrow]
 30   MANZANA                      968827 non-null  string[pyarrow]
 31   TORRE                        968827 non-null  string[pyarrow]
 32   TIPO_DATO_ADIC               968827 non-null  string[pyarrow]
 33   DATO_ADICIONAL               968827 non-null  string[pyarrow]
 34   LOCALIDAD                    968827 non-null  string[pyarrow]
 35   COD_POST                     968827 non-null  int64[pyarrow]
 36   MUNICIPIO                    968827 non-null  string[pyarrow]
 37   OTRO_MUNICIPIO               0 non-null       null[pyarrow]
 38   PROV_ORIG                    968827 non-null  string[pyarrow]
 39   TELEFONO                     968827 non-null  string[pyarrow]
 40   OCUPACION                    0 non-null       null[pyarrow]
 41   DESCR_TRABAJO                0 non-null       null[pyarrow]
 42   COD_ACTIVIDAD                968827 non-null  int64[pyarrow]
 43   ACTIVIDAD                    968827 non-null  string[pyarrow]
 44   LOCAL_ACTIVIDAD              968827 non-null  string[pyarrow]
 45   PROV_ACTIVIDAD               968827 non-null  string[pyarrow]
 46   OBRA                         968827 non-null  string[pyarrow]
 47   COOP_PROYECTO                968827 non-null  string[pyarrow]
 48   CUIT_ORIG                    968827 non-null  int64[pyarrow]
 49   RESOLUCION                   968827 non-null  string[pyarrow]
 50   CAMPO1                       968827 non-null  string[pyarrow]
 51   PERIODO_ORIGINAL             968827 non-null  int64[pyarrow]
 52   PROG                         968827 non-null  string[pyarrow]
 53   MONTOPRG                     422981 non-null  double[pyarrow]
 54   MONTOREDLES                  968827 non-null  double[pyarrow]
 55   MONTO_ORIG                   968827 non-null  string[pyarrow]
 56   ESTADO_SINTYS                968827 non-null  int64[pyarrow]
 57   TIPO_PRESTACION_SINTYS       968827 non-null  int64[pyarrow]
 58   TIPO_BENEFICIARIO_SINTYS     968827 non-null  int64[pyarrow]
 59   CANAL_FINANCIACION_SINTYS    968827 non-null  int64[pyarrow]
 60   SUBPROGRAMA_SINTYS           968827 non-null  int64[pyarrow]
dtypes: double[pyarrow](2), int64[pyarrow](24), null[pyarrow](7), string[pyarrow](28)
memory usage: 551.6 MB

In [24]:
import sys
from rich import print
from rich.panel import Panel
from rich.text import Text
from rich.prompt import Prompt
import pandas as pd
import glob
import os
import shutil
import tarfile
import csv
from procs.DictsAndLists import lista, listaTCA
from pandasql import sqldf
import timeit

from rich.console import Console

# Inicializamos la consola de rich
console = Console(log_path=False)


def p30stat(paquete):
    # Abrimos el GZ en python para manosearlo por dentro.
    try:
        TarP3 = tarfile.open(paquete, "r:gz")
    except Exception as e:
        console.log("Hubo un error leyendo el archivo de vuelta.")
        Prompt.ask("\nPresione [red][ENTER][/red] para volver al menu.")
        return 0
    # console.log(f"Encontrado: {paquete}")
    p30 = {}
    # Buscamos los archivos dentro del GZ.
    # console.log("Leyendo vuelta SyNTIS.")
    # console.log(f"Leyendo DATOS:")
    # Empezamos con el dict "lista"
    for file in lista:
        try:
            filename = [name for name in TarP3.getnames() if file["Nombre"] in name]
            txt = TarP3.extractfile(filename[0])
            # print(txt.readline().decode().split('\t'))
            df = pd.read_csv(
                txt,
                sep="\t",
                encoding="ansi",
                dtype=file["dtype"],
                names=file["dtype"].keys(),
                # header=0,
                skiprows=1,
                # index_col=0,
                engine="pyarrow",
                dtype_backend="pyarrow",
            )
            df.set_index(df.columns[0], inplace=True)
            p30[file["Nombre"]] = df
            # print(f"[green]{file['Nombre']}", end=" | ", flush=True)
        except IndexError:
            # print(f"[red]{file['Nombre']}", end=" | ", flush=True)
            continue
    # Continuamos con el dict "listaTCA"
    print(f"\n")
    # console.log(f"Leyendo CODIGOS:")
    for file in listaTCA:
        try:
            filename = [name for name in TarP3.getnames() if file["Nombre"] in name]
            txt = TarP3.extractfile(filename[0])

            df = pd.read_csv(
                txt,
                sep="\t",
                encoding="ansi",
                # dtype=file["dtype"],
                index_col=0,
                engine="pyarrow",
                dtype_backend="pyarrow",
            )
            # print(f"[green]{file['Nombre']}", end=" | ", flush=True)
            df.insert(loc=0, column="tabla", value=file["Nombre"])
            p30[file["Nombre"]] = df
        except IndexError:
            # print(f"[red]{file['Nombre']}", end=" | ", flush=True)
            continue
    return p30
    # Cerramos el GZ para que no haya error al moverlo.
    TarP3.close()


paquete30 = p30stat("Vuelta_EfectoresPaquete_30.tar.gz")
# p30 = pd.read_fwf('EfectoresPaquete_30.txt',encoding='ANSI',widths=(15,9,50,50,8,1,2,10,20,40,6,5,5,5,5,20,20,30,8,20,20,30,30,50,50,15,50,50,30,50,50,11,5,70,6,2,12,12))
# cuits= pd.read_csv("cuits.txt",sep="\t")

#### GUARDAMOS LOS DICT EN VARIABLES USABLES 
Y en caso de no encontrar datos, crea dataframes vacios para evitar errores mas adelante.

In [28]:
var = paquete30.get("B00", pd.DataFrame(columns=lista[0]["dtype"].keys()))
dat = paquete30.get("DATOS", pd.DataFrame(columns=lista[1]["dtype"].keys()))
bar = paquete30.get("EMBARCACIONES", pd.DataFrame(columns=lista[2]["dtype"].keys()))
avi = paquete30.get("AERONAVES", pd.DataFrame(columns=lista[3]["dtype"].keys()))
dep = paquete30.get(
    "EMPLEO_DEPENDIENTE", pd.DataFrame(columns=lista[4]["dtype"].keys())
)
ind = paquete30.get(
    "EMPLEO_INDEPENDIENTE", pd.DataFrame(columns=lista[5]["dtype"].keys())
)
fal = paquete30.get("FALLECIDOS", pd.DataFrame(columns=lista[6]["dtype"].keys()))
inm = paquete30.get("INMUEBLES", pd.DataFrame(columns=lista[7]["dtype"].keys()))
jub = paquete30.get(
    "JUBILACIONES_PENSIONES", pd.DataFrame(columns=lista[8]["dtype"].keys())
)
aut = paquete30.get(
    "PADRON_AUTOMOTORES", pd.DataFrame(columns=lista[9]["dtype"].keys())
)
jur = paquete30.get(
    "PERSONAS_JURIDICAS", pd.DataFrame(columns=lista[10]["dtype"].keys())
)
pnc = paquete30.get("PNC", pd.DataFrame(columns=lista[11]["dtype"].keys()))
rub = paquete30.get("RUBPS", pd.DataFrame(columns=lista[12]["dtype"].keys()))
asg = paquete30.get("ASIGNACIONES", pd.DataFrame(columns=lista[13]["dtype"].keys()))

In [29]:
var.info(verbose=True)
dat.info(verbose=True)
bar.info(verbose=True)
avi.info(verbose=True)
dep.info(verbose=True)
ind.info(verbose=True)
fal.info(verbose=True)
inm.info(verbose=True)
jub.info(verbose=True)
aut.info(verbose=True)
jur.info(verbose=True)
pnc.info(verbose=True)
rub.info(verbose=True)
asg.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Index: 968827 entries, 77753084 to 31571174
Data columns (total 60 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0    QID                          968827 non-null  int64[pyarrow]
 1    BASE                         968827 non-null  dictionary<values=int64, indices=int32, ordered=0>[pyarrow]
 2    CORTE                        968827 non-null  dictionary<values=int64, indices=int32, ordered=0>[pyarrow]
 3    CUIT                         968827 non-null  int64[pyarrow]
 4    TDOC                         968827 non-null  dictionary<values=int64, indices=int32, ordered=0>[pyarrow]
 5    NDOC                         968827 non-null  int64[pyarrow]
 6    SEXO                         0 non-null       dictionary<values=null, indices=int32, ordered=0>[pyarrow]
 7    DENO                         968827 non-null  string[pyarrow]
 8    FNAC                         968827 non-null  string[pyarrow]
 9    MONTO                        968827 non-null  string[pyarrow]
 10   PROV                         968827 non-null  string[pyarrow]
 11   PERIODO                      0 non-null       string[pyarrow]
 12   PERIODO_BASE                 968827 non-null  dictionary<values=int64, indices=int32, ordered=0>[pyarrow]
 13   PERIODO_ACT                  968827 non-null  dictionary<values=int64, indices=int32, ordered=0>[pyarrow]
 14   BASE_PROV                    0 non-null       dictionary<values=null, indices=int32, ordered=0>[pyarrow]
 15   PASAPORTE                    0 non-null       string[pyarrow]
 16   TIPO_EF                      968827 non-null  dictionary<values=string, indices=int32, ordered=0>[pyarrow]
 17   NRO_FORMULARIO               968827 non-null  string[pyarrow]
 18   APELLIDO_ORIG                968827 non-null  string[pyarrow]
 19   NOMBRE_ORIG                  968827 non-null  string[pyarrow]
 20   FNAC_ORIG                    968827 non-null  date64[ms][pyarrow]
 21   SEXO_ORIGEN                  968827 non-null  string[pyarrow]
 22   TDOC_ORIG                    968827 non-null  dictionary<values=int64, indices=int32, ordered=0>[pyarrow]
 23   NDOC_ORIG                    968827 non-null  dictionary<values=int64, indices=int32, ordered=0>[pyarrow]
 24   PAIS_ORIGEN                  968827 non-null  dictionary<values=string, indices=int32, ordered=0>[pyarrow]
 25   CALLE                        968827 non-null  string[pyarrow]
 26   NUMERO                       968827 non-null  string[pyarrow]
 27   PISO                         968827 non-null  string[pyarrow]
 28   DEPTO                        968827 non-null  string[pyarrow]
 29   MANZANA                      968827 non-null  string[pyarrow]
 30   TORRE                        968827 non-null  string[pyarrow]
 31   TIPO_DATO_ADIC               968827 non-null  string[pyarrow]
 32   DATO_ADICIONAL               968827 non-null  string[pyarrow]
 33   LOCALIDAD                    968827 non-null  string[pyarrow]
 34   COD_POST                     968827 non-null  string[pyarrow]
 35   MUNICIPIO                    968827 non-null  string[pyarrow]
 36   OTRO_MUNICIPIO               0 non-null       string[pyarrow]
 37   PROV_ORIG                    968827 non-null  dictionary<values=string, indices=int32, ordered=0>[pyarrow]
 38   TELEFONO                     968827 non-null  string[pyarrow]
 39   OCUPACION                    0 non-null       string[pyarrow]
 40   DESCR_TRABAJO                0 non-null       string[pyarrow]
 41   COD_ACTIVIDAD                968827 non-null  string[pyarrow]
 42   ACTIVIDAD                    968827 non-null  string[pyarrow]
 43   LOCAL_ACTIVIDAD              968827 non-null  string[pyarrow]
 44   PROV_ACTIVIDAD               968827 non-null  string[pyarrow]
 45   OBRA                         968827 non-null  string[pyarrow]
 46   COOP_PROYECTO                968827 non-null  string[pyarrow]
 47   CUIT_ORIG                    968827 non-null  string[pyarrow]
 48   RESOLUCION                   968827 non-null  string[pyarrow]
 49   CAMPO1                       968827 non-null  string[pyarrow]
 50   PERIODO_ORIGINAL             968827 non-null  string[pyarrow]
 51   PROG                         968827 non-null  string[pyarrow]
 52   MONTOPRG                     422981 non-null  string[pyarrow]
 53   MONTOREDLES                  968827 non-null  string[pyarrow]
 54   MONTO_ORIG                   968827 non-null  string[pyarrow]
 55   ESTADO_SINTYS                968827 non-null  dictionary<values=int64, indices=int32, ordered=0>[pyarrow]
 56   TIPO_PRESTACION_SINTYS       968827 non-null  string[pyarrow]
 57   TIPO_BENEFICIARIO_SINTYS     968827 non-null  string[pyarrow]
 58   CANAL_FINANCIACION_SINTYS    968827 non-null  string[pyarrow]
 59   SUBPROGRAMA_SINTYS           968827 non-null  string[pyarrow]
dtypes: date64[ms][pyarrow](1), dictionary<values=int64, indices=int32, ordered=0>[pyarrow](8), dictionary<values=null, indices=int32, ordered=0>[pyarrow](2), dictionary<values=string, indices=int32, ordered=0>[pyarrow](3), int64[pyarrow](3), string[pyarrow](43)
memory usage: 3.6 GB
<class 'pandas.core.frame.DataFrame'>
Index: 968819 entries, 31083495 to 32587398
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   cuit           961738 non-null  int64[pyarrow]
 1   tdoc           968819 non-null  dictionary<values=int64, indices=int32, ordered=0>[pyarrow]
 2   ndoc           968819 non-null  int64[pyarrow]
 3   deno           968819 non-null  string[pyarrow]
 4   sexo           968470 non-null  dictionary<values=int64, indices=int32, ordered=0>[pyarrow]
 5   fnac           968819 non-null  string[pyarrow]
 6   grado_confiab  968819 non-null  string[pyarrow]
dtypes: dictionary<values=int64, indices=int32, ordered=0>[pyarrow](2), int64[pyarrow](2), string[pyarrow](3)
memory usage: 72.1 MB
<class 'pandas.core.frame.DataFrame'>
Index: 86 entries, 5026268 to 76952482
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   BASE              86 non-null     dictionary<values=int64, indices=int32, ordered=0>[pyarrow]
 1   PERIODO_BASE      86 non-null     dictionary<values=int64, indices=int32, ordered=0>[pyarrow]
 2   MATRICULA         86 non-null     string[pyarrow]
 3   DOMICILIO         86 non-null     string[pyarrow]
 4   COD_POSTAL        86 non-null     string[pyarrow]
 5   LOCALIDAD         86 non-null     string[pyarrow]
 6   PROV              0 non-null      dictionary<values=null, indices=int32, ordered=0>[pyarrow]
 7   FEC_INSCRIPCION   0 non-null      string[pyarrow]
 8   VALUACION         0 non-null      string[pyarrow]
 9   TIPO_EMBARCACION  86 non-null     string[pyarrow]
dtypes: dictionary<values=int64, indices=int32, ordered=0>[pyarrow](2), dictionary<values=null, indices=int32, ordered=0>[pyarrow](1), string[pyarrow](7)
memory usage: 8.9 KB
<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, 6552458 to 2499551
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   BASE                4 non-null      dictionary<values=int64, indices=int32, ordered=0>[pyarrow]
 1   PERIODO_BASE        4 non-null      dictionary<values=int64, indices=int32, ordered=0>[pyarrow]
 2   PROVINCIA           0 non-null      dictionary<values=null, indices=int32, ordered=0>[pyarrow]
 3   DOMICILIO_PART_SOC  0 non-null      string[pyarrow]
 4   LOCALIDAD_PART_SOC  0 non-null      string[pyarrow]
 5   MATRICULA           4 non-null      string[pyarrow]
 6   TIPO01              4 non-null      string[pyarrow]
 7   VALUACION           0 non-null      string[pyarrow]
dtypes: dictionary<values=int64, indices=int32, ordered=0>[pyarrow](2), dictionary<values=null, indices=int32, ordered=0>[pyarrow](1), string[pyarrow](5)
memory usage: 208.0 bytes
<class 'pandas.core.frame.DataFrame'>
Index: 53283 entries, 4277315 to 117692902
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   SECTOR               53283 non-null  dictionary<values=int64, indices=int32, ordered=0>[pyarrow]
 1   TIPO_EMPLEO_PUBLICO  53283 non-null  string[pyarrow]
 2   BASE                 53283 non-null  dictionary<values=int64, indices=int32, ordered=0>[pyarrow]
 3   SITUACION_LABORAL    53283 non-null  string[pyarrow]
 4   PERIODO_BASE         53283 non-null  dictionary<values=int64, indices=int32, ordered=0>[pyarrow]
 5   MONTO                53283 non-null  double[pyarrow]
 6   CUIT_EMPLEADOR       53283 non-null  string[pyarrow]
 7   DENO_EMPLEADOR       53283 non-null  string[pyarrow]
dtypes: dictionary<values=int64, indices=int32, ordered=0>[pyarrow](3), double[pyarrow](1), string[pyarrow](4)
memory usage: 4.3 MB
<class 'pandas.core.frame.DataFrame'>
Index: 138217 entries, 1802114 to 117714051
Data columns (total 3 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   BASE          138217 non-null  dictionary<values=string, indices=int32, ordered=0>[pyarrow]
 1   PERIODO_BASE  138217 non-null  dictionary<values=int64, indices=int32, ordered=0>[pyarrow]
 2   CATEGORIA     138217 non-null  dictionary<values=string, indices=int32, ordered=0>[pyarrow]
dtypes: dictionary<values=int64, indices=int32, ordered=0>[pyarrow](1), dictionary<values=string, indices=int32, ordered=0>[pyarrow](2)
memory usage: 2.6 MB
<class 'pandas.core.frame.DataFrame'>
Index: 11836 entries, 442614 to 112188258
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ANIO         9 non-null      dictionary<values=int64, indices=int32, ordered=0>[pyarrow]
 1   ACTA         9 non-null      string[pyarrow]
 2   TOMO         11836 non-null  string[pyarrow]
 3   FOLIO        9 non-null      string[pyarrow]
 4   SECCIONAL    9 non-null      string[pyarrow]
 5   FFALL        11836 non-null  string[pyarrow]
 6   ANOACTA      9 non-null      string[pyarrow]
 7   IMAGEN_TIFF  11836 non-null  string[pyarrow]
 8   BASE         11836 non-null  string[pyarrow]
dtypes: dictionary<values=int64, indices=int32, ordered=0>[pyarrow](1), string[pyarrow](8)
memory usage: 835.3 KB
<class 'pandas.core.frame.DataFrame'>
Index: 9927 entries, 3748327 to 101668238
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   BASE                9927 non-null   dictionary<values=int64, indices=int32, ordered=0>[pyarrow]
 1   PERIODO_BASE        9927 non-null   dictionary<values=int64, indices=int32, ordered=0>[pyarrow]
 2   DOMICILIO_FISCAL    9927 non-null   string[pyarrow]
 3   CALLE               9927 non-null   string[pyarrow]
 4   NUMERO              2220 non-null   string[pyarrow]
 5   PISO                9927 non-null   string[pyarrow]
 6   APARTAMENTO         9927 non-null   string[pyarrow]
 7   COD_POSTAL          2095 non-null   string[pyarrow]
 8   LOCALIDAD           9927 non-null   string[pyarrow]
 9   DEPARTAMENTO        9927 non-null   string[pyarrow]
 10  PROVINCIA           2336 non-null   dictionary<values=int64, indices=int32, ordered=0>[pyarrow]
 11  NC_NOMENCLATURA     9927 non-null   string[pyarrow]
 12  NC_PARTIDO          6018 non-null   string[pyarrow]
 13  NC_DEPARTAMENTO     9927 non-null   string[pyarrow]
 14  NC_DISTRITO         9927 non-null   string[pyarrow]
 15  NC_CIRCUNSCRIPCION  9927 non-null   string[pyarrow]
 16  NC_SECCION          9927 non-null   string[pyarrow]
 17  NC_FRACCION         9927 non-null   string[pyarrow]
 18  NC_MANZANA          9927 non-null   string[pyarrow]
 19  NC_PARCELA          9927 non-null   string[pyarrow]
 20  NC_CHACRA           9927 non-null   string[pyarrow]
 21  NC_QUINTA           9927 non-null   string[pyarrow]
 22  NC_LOTE             0 non-null      string[pyarrow]
 23  NC_UNIC_FUNCIONAL   873 non-null    string[pyarrow]
 24  FECHA_INSCRIPCION   9927 non-null   string[pyarrow]
 25  PARTIDA             9927 non-null   string[pyarrow]
 26  MATRICULA           9927 non-null   string[pyarrow]
dtypes: dictionary<values=int64, indices=int32, ordered=0>[pyarrow](3), string[pyarrow](24)
memory usage: 2.2 MB
<class 'pandas.core.frame.DataFrame'>
Index: 47521 entries, 446870 to 113193755
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   TBENE         47520 non-null  string[pyarrow]
 1   BASE          47521 non-null  dictionary<values=int64, indices=int32, ordered=0>[pyarrow]
 2   PERIODO_BASE  47521 non-null  dictionary<values=int64, indices=int32, ordered=0>[pyarrow]
 3   LEY_APLICADA  47521 non-null  string[pyarrow]
 4   MONTO         47521 non-null  string[pyarrow]
 5   DESC_BENE     47521 non-null  string[pyarrow]
dtypes: dictionary<values=int64, indices=int32, ordered=0>[pyarrow](2), string[pyarrow](4)
memory usage: 3.1 MB
<class 'pandas.core.frame.DataFrame'>
Index: 435198 entries, 38166788 to 7801754
Data columns (total 15 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   BASE                435198 non-null  dictionary<values=int64, indices=int32, ordered=0>[pyarrow]
 1   PERIODO_BASE        435198 non-null  dictionary<values=int64, indices=int32, ordered=0>[pyarrow]
 2   PROVINCIA           434753 non-null  dictionary<values=int64, indices=int32, ordered=0>[pyarrow]
 3   DOMINIO             435198 non-null  string[pyarrow]
 4   FECHA_TITU_DESDE    435198 non-null  string[pyarrow]
 5   CALLE               435198 non-null  string[pyarrow]
 6   NUMERO              435198 non-null  string[pyarrow]
 7   PISO                435198 non-null  string[pyarrow]
 8   DEPTO               435198 non-null  string[pyarrow]
 9   COD_POSTAL          435198 non-null  string[pyarrow]
 10  LOCALIDAD           435198 non-null  string[pyarrow]
 11  FECHA_INSCRIPCION   435198 non-null  string[pyarrow]
 12  USO_VEHICULO        435198 non-null  string[pyarrow]
 13  TIPO_AUTOMOTOR_NAC  435198 non-null  string[pyarrow]
 14  TIPO_AUTOMOTOR_IMP  435198 non-null  string[pyarrow]
dtypes: dictionary<values=int64, indices=int32, ordered=0>[pyarrow](3), string[pyarrow](12)
memory usage: 54.4 MB
<class 'pandas.core.frame.DataFrame'>
Index: 117 entries, 4361060 to 109996811
Data columns (total 31 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   BASE                  117 non-null    dictionary<values=int64, indices=int32, ordered=0>[pyarrow]
 1   PERIODO_BASE          117 non-null    dictionary<values=int64, indices=int32, ordered=0>[pyarrow]
 2   PROVINCIA             0 non-null      dictionary<values=null, indices=int32, ordered=0>[pyarrow]
 3   FECHA_INGRESO         0 non-null      string[pyarrow]
 4   FECHA_EGRESO          0 non-null      string[pyarrow]
 5   DOMICILIO_ACC         117 non-null    string[pyarrow]
 6   CALLE_ACC             0 non-null      string[pyarrow]
 7   NUMERO_ACC            0 non-null      string[pyarrow]
 8   PISO_ACC              0 non-null      string[pyarrow]
 9   DEPTO_ACC             0 non-null      string[pyarrow]
 10  COD_POST_ACC          0 non-null      string[pyarrow]
 11  LOCALIDAD_ACC         0 non-null      string[pyarrow]
 12  COD_LOC_ACC           0 non-null      string[pyarrow]
 13  DEPARTAMENTO_ACC      0 non-null      string[pyarrow]
 14  COD_DEPARTAMENTO_ACC  0 non-null      string[pyarrow]
 15  TIPO_SOC              117 non-null    dictionary<values=int64, indices=int32, ordered=0>[pyarrow]
 16  DENO_SOC              0 non-null      string[pyarrow]
 17  CUIT_SOC              0 non-null      string[pyarrow]
 18  DOMICILIO_SOC         0 non-null      string[pyarrow]
 19  CALLE_SOC             0 non-null      string[pyarrow]
 20  NUMERO_SOC            0 non-null      string[pyarrow]
 21  PISO_SOC              0 non-null      string[pyarrow]
 22  DEPTO_SOC             0 non-null      string[pyarrow]
 23  COD_POST_SOC          0 non-null      string[pyarrow]
 24  LOCALIDAD_SOC         0 non-null      string[pyarrow]
 25  COD_LOCALIDAD_SOC     0 non-null      string[pyarrow]
 26  DEPARTAMENTO_SOC      0 non-null      string[pyarrow]
 27  COD_DEPARTAMENTO_SOC  0 non-null      string[pyarrow]
 28  PROVINCIA_SOC         76 non-null     dictionary<values=int64, indices=int32, ordered=0>[pyarrow]
 29  FECHA_CONSTITUCION    0 non-null      string[pyarrow]
 30  NRO_LEGAJO            0 non-null      string[pyarrow]
dtypes: dictionary<values=int64, indices=int32, ordered=0>[pyarrow](4), dictionary<values=null, indices=int32, ordered=0>[pyarrow](1), string[pyarrow](26)
memory usage: 17.1 KB
<class 'pandas.core.frame.DataFrame'>
Index: 39988 entries, 1645419 to 116659712
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   TBENE         39988 non-null  string[pyarrow]
 1   BASE          39988 non-null  dictionary<values=int64, indices=int32, ordered=0>[pyarrow]
 2   PERIODO_BASE  39988 non-null  dictionary<values=int64, indices=int32, ordered=0>[pyarrow]
 3   LEY_APLICADA  39988 non-null  string[pyarrow]
 4   MONTO         39988 non-null  string[pyarrow]
 5   DESC_BENE     39988 non-null  string[pyarrow]
dtypes: dictionary<values=int64, indices=int32, ordered=0>[pyarrow](2), string[pyarrow](4)
memory usage: 3.3 MB
<class 'pandas.core.frame.DataFrame'>
Index: 656353 entries, 83617492 to 107256150
Data columns (total 4 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   TIPO_PRESTACION  656353 non-null  string[pyarrow]
 1   BASE             656353 non-null  dictionary<values=int64, indices=int32, ordered=0>[pyarrow]
 2   PERIODO_BASE     656353 non-null  dictionary<values=int64, indices=int32, ordered=0>[pyarrow]
 3   MONTO            656353 non-null  string[pyarrow]
dtypes: dictionary<values=int64, indices=int32, ordered=0>[pyarrow](2), string[pyarrow](2)
memory usage: 18.7 MB
<class 'pandas.core.frame.DataFrame'>
Index: 13888 entries, 3587982 to 113269505
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   BASE             13888 non-null  dictionary<values=int64, indices=int32, ordered=0>[pyarrow]
 1   PERIODO_BASE     13888 non-null  dictionary<values=int64, indices=int32, ordered=0>[pyarrow]
 2   TIPO_BEN         13888 non-null  string[pyarrow]
 3   TIPO_PRESTACION  13888 non-null  string[pyarrow]
dtypes: dictionary<values=int64, indices=int32, ordered=0>[pyarrow](2), string[pyarrow](2)
memory usage: 365.9 KB

In [ ]:
activos = sqldf(
    """
                SELECT 
                [ PROV_ACTIVIDAD  ] as PROVINCIA,
                COUNT(DISTINCT d.[id_persona ])                                                  as EFECTORES,
                SUM(case when c.cuit is not null then 1 else 0 end)                              as EFECTORES_activos,
                COUNT(DISTINCT p.id_persona)                                                     as PNC, 
                SUM(case when c.cuit is not null and p.id_persona is not null then 1 else 0 end) as PNC_activos,
                COUNT(DISTINCT j.id_persona)                                                     as JUB_PEN,
                SUM(case when c.cuit is not null and j.id_persona is not null then 1 else 0 end) as JUB_PEN_activos,
                COUNT(DISTINCT e.id_persona)                                                     as EMPLEO_DEP,
                SUM(case when c.cuit is not null and e.id_persona is not null then 1 else 0 end) as EMPLEO_DEP_activos,
                COUNT(DISTINCT a.id_persona)                                                     as ASIG_FAM,
                SUM(case when c.cuit is not null and a.id_persona is not null then 1 else 0 end) as ASIG_FAM_activos,
                COUNT(DISTINCT f.id_persona)                                                     as FALLECIDOS,
                SUM(case when c.cuit is not null and f.id_persona is not null then 1 else 0 end) as FALLECIDOS_activos,
                COUNT(DISTINCT h.id_persona)                                                     as JURIDICAS,
                SUM(case when c.cuit is not null and h.id_persona is not null then 1 else 0 end) as JURIDICAS_activos,
                COUNT(DISTINCT r.id_persona)                                                     as RUBPS,
                SUM(case when c.cuit is not null and r.id_persona is not null then 1 else 0 end) as RUBPS_activos
                FROM      var d 
                LEFT JOIN cuits c on c.cuit       = d.[ CUIT  ]
                LEFT JOIN (select distinct id_persona from pnc) p on p.id_persona = d.[id_persona ]
                LEFT JOIN (select distinct id_persona from jub) j on j.id_persona = d.[id_persona ]
                LEFT JOIN (select distinct id_persona from dep) e on e.id_persona = d.[id_persona ]
                LEFT JOIN (select distinct id_persona from asg) a on a.id_persona = d.[id_persona ]
                LEFT JOIN (select distinct id_persona from fal) f on f.id_persona = d.[id_persona ]
                LEFT JOIN (select distinct id_persona from jur) h on h.id_persona = d.[id_persona ]
                LEFT JOIN (select distinct id_persona from rub) r on r.id_persona = d.[id_persona ]
                GROUP BY [ PROV_ACTIVIDAD  ]
              """
)
activos.set_index("PROVINCIA", inplace=True)
activos.loc["TOTAL"] = activos.sum(numeric_only=True)
activos

#### PREPARAMOS EL EXCEL

In [ ]:
# preparamos el excel
writer = pd.ExcelWriter("Resumen_P30.xlsx", engine="xlsxwriter")

#### PRIMERO SACAMOS TODOS LOS STATS GENERALES POR PROVINCIA

In [ ]:
stats_prov = sqldf(
    """
                SELECT 
                [ PROV_ACTIVIDAD  ] as PROVINCIA,
                [ LOCALIDAD  ] as LOCALIDAD,
                t.sexo,
                COUNT(DISTINCT d.[id_persona ]) as EFECTORES,
                COUNT(DISTINCT p.id_persona)    as PNC, 
                COUNT(DISTINCT j.id_persona)    as JUB_PEN,
                COUNT(DISTINCT e.id_persona)    as EMPLEO_DEP,
                COUNT(DISTINCT a.id_persona)    as ASIG_FAM,
                COUNT(DISTINCT f.id_persona)    as FALLECIDOS,
                COUNT(DISTINCT h.id_persona)    as JURIDICAS,
                COUNT(DISTINCT r.id_persona)    as RUBPS
                FROM      var d 
                LEFT JOIN pnc p on p.id_persona = d.[id_persona ]
                LEFT JOIN dat t on t.id_persona = d.[id_persona ]
                LEFT JOIN jub j on j.id_persona = d.[id_persona ]
                LEFT JOIN dep e on e.id_persona = d.[id_persona ]
                LEFT JOIN asg a on a.id_persona = d.[id_persona ]
                LEFT JOIN fal f on f.id_persona = d.[id_persona ]
                LEFT JOIN jur h on h.id_persona = d.[id_persona ]
                LEFT JOIN rub r on r.id_persona = d.[id_persona ]
                GROUP BY [ PROV_ACTIVIDAD  ],[ LOCALIDAD  ],t.sexo
              """
)
stats_prov.set_index("PROVINCIA", inplace=True)
stats_prov.loc["TOTAL"] = stats_prov.sum(numeric_only=True)
stats_prov.to_csv("Stats_por_provincia.txt", sep="\t")

#### EVALUACION MUEBLES

In [ ]:
muebles = sqldf(
    """
                select * from aut
                where ID_PERSONA IN ( 
                select dat.id_persona
                from dat inner join 
                aut on aut.ID_PERSONA=dat.id_persona
                GROUP BY dat.id_persona
                HAVING COUNT(DOMINIO)>2)
                ORDER BY ID_PERSONA"""
)
muebles.set_index("ID_PERSONA", inplace=True)

#### EVALUACION INMUEBLES

In [ ]:
inmuebles = sqldf(
    """
                select * from inm
                where ID_PERSONA IN ( 
                select id_persona
                from inm
                GROUP BY id_persona
                HAVING COUNT(ID_PERSONA)>1)
                ORDER BY ID_PERSONA"""
)
inmuebles.set_index("ID_PERSONA", inplace=True)

#### ARMAMOS EL DF DE LOS EVALUADOS

In [ ]:
eval = sqldf(
    """
            SELECT
            distinct(dat.id_persona),
            dat.cuit,
            dat.ndoc,
            dat.deno,
            case when dat.sexo=1 then 'M' else 'F' end as sexo,
            dat.fnac,
            dat.grado_confiab,
            case when inm.id_persona is not null then 'Si' else 'No' end as Inmuebles,
            case when aut.id_persona is not null then 'Si' else 'No' end as Muebles,
            case when dep.base=105 then 'Si' else 'No' end as Servicio_Domestico,
            case when dep.monto > 45000 then 'Si' else 'No' end as Dependiente,
            case when jur.id_persona is not null then 'Si' else 'No' end as Juridicas,
            case when jub.monto > 45000 then 'Si' else 'No' end as Jub_pen,
            case when fal.id_persona is not null then 'Si' else 'No' end as Fallecido
            from dat
            left join muebles aut on aut.ID_PERSONA = dat.id_persona
            left join inmuebles inm on inm.ID_PERSONA = dat.id_persona
            left join dep on dep.ID_PERSONA = dat.id_persona
            left join jub on jub.ID_PERSONA = dat.id_persona
            left join jur on jur.ID_PERSONA = dat.id_persona
            left join fal on fal.ID_PERSONA = dat.id_persona
            where 
            Inmuebles ='Si' 
            or Muebles ='Si' 
            or Servicio_Domestico ='Si' 
            or Dependiente ='Si'
            or Juridicas ='Si'
            or Jub_pen ='Si'
            or Fallecido='Si'
                """
)

#### ARMAMOS EL EXCEL DE SALIDA

In [ ]:
stats_prov.to_excel(writer, sheet_name="Stats globales")
eval.to_excel(writer, sheet_name="Efectores fuera del marco legal")
muebles.to_excel(writer, sheet_name="Detalle Muebles")
inmuebles.to_excel(writer, sheet_name="Detalle Inmuebles")
writer.save()